/* common css for all the web pages in this site */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
    color: #007eae;
}

p{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ffffff;
}

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-thumb{
    background: #003459;
}

::-webkit-scrollbar-track{
    background: #ffffff;
}