/* my website does not support below screen width 250px  */
@media only screen and (max-width: 250px) { 
    *{
        display: none;
    }
} 



/* Extra small devices (phones, 600px and down) */
/*==============common to this media queiry=====================*/
#nav-gap{
    height: 8.8vh;
    min-height: 60px;
    max-height: 100px;
    background-color: #d1ebff;
}

@media screen and (min-width: 900px) {
    main{
        position: absolute;
        width: 80%;
        right: 0;
    }

    #nav-gap{
        background-color: white;
        display: none;
    }
}


/*==================nav bar ======================*/
@media screen and (min-width: 250px) and (max-width: 900px){
    nav{
        background-color: #003459;
        display: flex;
        color: white;
        letter-spacing: 3px;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        min-height: 60px;
        height: 9vh;
        max-height: 100px;
        z-index: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    nav #nav-link-d{
        display: none;
    }
    
    nav .logo{
        font-size: 1.5rem;
    }
    
    nav i{
        font-size: 1.5rem;
    }
    
    nav a{
        color: white;
    }
    
    nav ul{
        position: fixed;
        bottom: -50vh;
        transform: translateY(100%);
        /* transition: transform 0.5 ease-in; */
    }
    .nav-active{
        background-color: #003459;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50vh;
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1.5rem;
        transform: translateY(0%);
    }
}

@media screen and (min-width: 900px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height: 100vh;
        background-color: #003459;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        color: white;
        letter-spacing: 2px;
    }

    nav ul{
        width: 100%;
        height: 90%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    nav li a{
        color: white;
    }

    nav li a:hover{
        font-size: 1.4rem;
        background-color: #d1ebff;
        color: black;
        transition: all 0.5s;
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    nav .logo{
        font-size: 1.5rem;
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav #togglenav{
        display: none;
    }
}
/*==================about==========================*/
#about{
    background-image: linear-gradient(white, #d1ebff);
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: auto auto 7.5rem auto;
    
}
#about #my-image{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img{
    width: 100%;
    height: auto;

}

#about #about-head{
    grid-column: 1 / -1;
}

#about #type-para{
    grid-column: 1 / -1;

}

#about #about-para{
    grid-column: 1 / -1;
    overflow-x: auto;

}

#about ul{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#about ul li{
    list-style: none;
}

#about .typingp{
    margin-top: 10px;
    font-size: 1.7rem; 
    font-weight: bold;   
    font-family:'Courier New', Courier, monospace;    

}

#about .typing{
    color: #007eae;
}

#about .typingp span{
    font-family:'Courier New', Courier, monospace;    
}

#about h1{
    text-align: left;
    font-size: 2.5rem;
    display: block;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: blue; */
}

#about h2{
    padding-left: 20px;
    padding-right: 20px;
}

#about a{
    font-family: 'Poppins', sans-serif;

}

#about p{
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 900px){
    #about{

        grid-template-rows: auto auto auto auto auto auto;
        min-height: 100vh;
        
    }
    #about #my-image{
        grid-column: 4 / -1;
        grid-row: 1 / -1;
        padding: 10px;
    }    

    #about img{
        border-radius: 20px;
    }


    #about #about-head{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    
    #about #type-para{
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    
    #about #about-para{
        grid-column: 1 / 4;
        grid-row: 3 / -1;
    }
    #about #type-para{
        min-height: 100px;
        max-height: 400px;
        display: flex;
        align-items: center;
    }

    #about .typingp{
        font-family: 'Poppins', sans-serif;     
    }

    #about .typingp span{
        font-family: 'Poppins', sans-serif;
    
    }

    #about h1{
        text-align: left;
    }

    #about .content-d{
        display: none;
    }
    
}

/*================parallax=========================*/
#parallax1{
    background-image: url(../sources/images/me2.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
@media screen and (min-width: 600px){
    #parallax1{
        display: none;
    }
}

/*=================education====================*/
#education{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, auto);
    background-image: linear-gradient(#d1ebff, white);
    
}

#education #hd1{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    font-size: 2.5rem;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    /* background-color: aliceblue; */
}


#education em{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: block;
    font-size: 1rem;
    margin: 10px 20px;
    text-align: center;
}

/*bhavans card*/
#education #bhavans-section{
    grid-column: 1 / -1;
    grid-row: 3 / 4;
   
    padding: 20px;
}

#education #bhavans-section:hover{
    padding: 10px;
    transition: 0.5s;
}

#education #bhavans-card{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

#education #bhavans-card h2{
    margin: 10px 10px;
}

#education #bhavans-card p{
    padding: 0 10px 10px 10px;
}

#education #bhavans-card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*awh card*/
#education #awh-section{
    padding: 20px;
    grid-column: 1 / -1;
    grid-row: 4 / 5;
   
}

#education #awh-card{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
   
}

#education #awh-card h2{
    margin: 10px 10px;
}

#education #awh-card p{
    padding: 0 10px 10px 10px;
}

#education #awh-card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#education #awh-section:hover{
    padding: 10px;
    transition: 0.5s;
}

/*other qualifications heading*/
#education #hd2{
    font-size: 1.5rem;
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    margin: 10px 20px;
}

/*pdsa card*/
#education #PDSA-e-section{
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    padding: 20px;
}

#education #PDSA-e-card{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    background-color: white;

}

#education #PDSA-e-card h2{
    margin: 10px 10px;
}


#education #PDSA-e-card p{
    padding: 0 10px 10px 10px;
}

#education #PDSA-e-card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#education #PDSA-e-section:hover{
    padding: 10px;
    transition: 0.5s;
}

@media screen and (min-width: 900px){
    #education{
        min-height: 100vh;

    }
    #education #bhavans-section{
        grid-column: 1 / 4;
        grid-row: 3 / 4;
       
        padding: 20px;
    }

    #education h1{
        text-align: center;
    }
    #education em{
        font-size: 1.5rem;
    }
    
    #education #awh-section{
        padding: 20px;
        grid-column: 4 / -1;
        grid-row: 3 / 4;
       
    }
    #education #awh-card img{
        height: 15.8em;
    
    }

    #education #PDSA-e-section{
        grid-column: 1 / 4;
        grid-row: 6 / 7;
        padding: 20px;
    }

    #education #PDSA-e-section img{
        height: 22em;
    }
}

/*===================skills============================*/
#skills{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    background-image: linear-gradient(white, #37caec);
    
}

#skills h1{
    font-size: 2.5rem;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}

#skill-head{
    grid-column: 1 / -1;
}

#skill-body{
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto auto;
    padding: 10px; 
    margin: 20px 0;
}

.card-holder{
    background-color: transparent;

}


/*html block*/
#skills #html5{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
}
/*css block*/
#skills #css3{
    grid-column: 4 / -1;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;

}


/*python block*/
#skills #python3{

    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*javascript*/
#skills #javascript{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*sql*/
#skills #sql{
    grid-column: 4 / -1;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*c block*/    
#skills #clang{
    grid-column: 4 / -1;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*git block*/    
#skills #git-vcs{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
}
/*github block*/    
#skills #github{
    grid-column: 4 / -1;
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 20px;
}

/*skill images*/
#skills #html5-logo{
    width: 60px;
    height: auto;
}

#skills #css3-logo{
    width: 40px;
    height: auto;
}


#skills #python3-logo{
    width: 57px;
    height: auto;
}
#skills #javascript-logo{
    width: 60px;
    height: auto;
}
#skills #sql-logo{
    width: 60px;
    height: auto;
}

#skills #clang-logo{
    width: 54px;
    height: auto;
}

#skills #git-logo{
    width: 60px;
    height: auto;
    /* margin-bottom: 80px; */
}

#skills #github-logo{
    width: 58px;
    height: auto;
    /* margin-bottom: 80px; */

}

.card{
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
@media screen and (min-width: 900px){
    #skills{
        min-height: 100vh;

    }

    #skill-body{
        grid-template-columns: repeat(4 , 1fr);
        grid-template-rows: auto auto;
    }

    #skills h1{
        text-align: center;
    }

    /*html block*/
    #skills #html5{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    /*css block*/
    #skills #css3{
        grid-column: 2/ 3;
        grid-row: 1 / 2;
    }

    /*python block*/
    #skills #python3{

        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    /*javascript*/
    #skills #javascript{
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
    /*sql*/
    #skills #sql{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    /*c block*/    
    #skills #clang{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    /*git block*/    
    #skills #git-vcs{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    /*github block*/    
    #skills #github{
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }

    /*skill images*/
    #skills #html5-logo{
        width: 8em;
        height: auto;
    }

    #skills #css3-logo{
        width: 5.8em;
        height: auto;
    }


    #skills #python3-logo{
        width: 7.5em;
        height: auto;
    }
    #skills #javascript-logo{
        width: 8em;
        height: auto;
    }
    #skills #sql-logo{
        width: 8em;
        height: auto;
    }

    #skills #clang-logo{
        width: 7em;
        height: auto;
    }

    #skills #git-logo{
        width: 8em;
        height: auto;
        /* margin-bottom: 80px; */
    }

    #skills #github-logo{
        width: 8em;
        height: auto;
        /* margin-bottom: 80px; */

    }

}

/*=================portfolio======================*/
#portfolio{
    background-image: linear-gradient(#37caec, #d1ebff);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
    
}

#portfolio h1{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    font-size: 2.5rem;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}

/*PDSA card*/
#portfolio #PDSA-section{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 20px;
}

#portfolio #PDSA-section:hover{
    padding: 10px;
    transition: 0.5s;
}

#portfolio #PDSA-card{
    border-radius: 10px;
    background-image: linear-gradient(#d1ebff ,white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#portfolio #PDSA-card h2{
    margin: 10px 10px;
}

#portfolio #PDSA-card p{
    padding: 0 10px 10px 10px;
    min-height: 60px;
}

#portfolio #PDSA-card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#portfolio #PDSA-card .p-links{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

/*Google clone card*/
#portfolio #gc-section{
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    padding: 20px;
}

#portfolio #gc-section:hover{
    padding: 10px;
    transition: 0.5s;
}

#portfolio #gc-card{
    border-radius: 10px;
    background-image: linear-gradient(#d1ebff ,white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#portfolio #gc-card h2{
    margin: 10px 10px;
}

#portfolio #gc-card p{
    padding: 0 10px 10px 10px;
    min-height: 60px;
}

#portfolio #gc-card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#portfolio #gc-card .p-links{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

/*personal website card*/
#portfolio #pw-section{
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    padding: 20px;
}

#portfolio #pw-section:hover{
    padding: 10px;
    transition: 0.5s;
}

#portfolio #pw-card{
    border-radius: 10px;
    background-image: linear-gradient(#d1ebff ,white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#portfolio #pw-card h2{
    margin: 10px 10px;
}

#portfolio #pw-card p{
    padding: 0 10px 10px 10px;
    min-height: 50px;
}

#portfolio #pw-card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#portfolio #pw-card .p-links{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}


/*===== veiw more button =========*/
#portfolio #veiw-more-p{
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    text-align: center;
    margin-bottom: 20px;
}

#portfolio #veiw-more-p p{
    font-size: 1.5rem;
    width: 50%;
    max-width: 300px;
    margin: 20px auto;
    min-height: 3vh;
    background-color: #125488;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5rem 1rem;
}

#portfolio #veiw-more-p p a{
    color: white;
}

@media screen and (min-width: 900px){
    #portfolio{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        min-height: 100vh;

        
    }
    #portfolio h1{
        text-align: center;
    }


    /*PDSA card*/
    #portfolio #PDSA-section{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    /*Google clone card*/
    #portfolio #gc-section{
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }

    /*personal website card*/
    #portfolio #pw-section{
        grid-column: 5 / 7;
        grid-row: 2 / 3;
    }
}

/*=================== vision section ===================*/
#vision{
    background-color: #d1ebff;    
}

#vision h1{
    font-size: 2.5rem;
    display: block;
    margin-left: 20px;
}

#vision .vision-card{
    padding: 20px;
}

#vision p{
    margin: 10px 0;
}

@media screen and (min-width: 900px){
    #vision{
        padding: 0 5em;
        min-height: 100vh;

    }
}


    /*=================contact me ====================*/

#contact-me{
    background-image: linear-gradient(#d1ebff, white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "heading"
        "form"
        "myform";
}

#contact-me h1{
    grid-area: heading;
    font-size: 2.5rem;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#contact-me #my-form{
    grid-area: form;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px;
} 
#contact-me form{
    border-radius: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    min-height: 50px;
    background-image: linear-gradient(#4adede ,#1ca7ec);
    padding: 10px 0;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#contact-me input[type=button],
#contact-me input[type=reset]{
    width: 40%;
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid #003459;
    margin: 0 6px 6px 6px;
    background-color: #125488;
    color: white;

}

#contact-me textarea{
    width: 90%;
    min-height: 12rem;
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    resize: none;
    font-size: 1.5rem;

}
#contact-me input[type=text],
#contact-me input[type=email],
#contact-me input[type=number]{
    margin: 5px;
    width: 90%;
    font-size: 1.5rem;
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
}

#contact-me input[type=text]:hover,#contact-me input[type=email]:hover,#contact-me input[type=number]:hover,#contact-me textarea:hover{
    margin: 5px;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}
@media screen and (min-width: 900px){
    #contact-me h1{
        text-align: center;
    }
}

/*=================footer======================*/
footer{
    background-color: #00171f;
    color: rgb(230, 220, 220);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
}

footer .thanks{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

footer .quick-links{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

footer .contact-info{
    grid-column: 1 / -1;
    grid-row: 3 / 4;
}

footer #social-links{
    font-size: 2.5rem;
    padding: 20px;
    padding-top: 0;
    text-align: center;
}

footer #social-links i{
    margin: 0 10px;
}

footer ul{    
    margin: 20px;
    font-size: 1rem;

}
footer ul li{
    list-style: none;
}

footer h2{
    margin: 20px;
    font-size: 2.5rem;
}

footer p{
    margin: 20px;
    font-size: 1rem;
}

footer hr{
    grid-column: 1 / -1;
    grid-row: 4 / 5;    
}

footer #mes{
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    font-size: 1rem;
    text-align: center;
    margin: 5px;
}
footer a{
    color: rgb(230, 220, 220);

}

footer .quick-nav-links a{
    color: rgb(230, 220, 220);
    font-size: 1.5rem;
}

@media screen and (min-width: 900px){
    footer{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);   
    }
    footer .thanks{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        text-align: center;
    }

    footer .quick-links{
        display: none;
    }
   
    footer .contact-info{
        grid-column: 4 / 7;
        grid-row: 1 / 2;
        text-align: center;
    }
    footer hr{
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }
    footer #mes{
        grid-column: 1 / -1;
        grid-row: 3 / 4;   
        text-align: center; 
    }
}