/* my website does not support below screen width 250px  */
@media only screen and (max-width: 250px) { 
    *{
        display: none;
    }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 250px) and (max-width: 600px) {    
    /*==============common to this media queiry=====================*/
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 9vh auto auto auto auto auto auto auto;
        grid-template-areas: 
            "nav"
            "img"
            "about"
            "skills"
            "education"
            "portfolio"
            "contact";
    }
    /*=================education====================*/
    #education{
        grid-area: education;  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
            "heading"
            "quote"
            "bhavans"
            "awh"
            "other"
            "PDSA";
    }

    #education h1{
        grid-area: heading;
        font-size: 2.5rem;
        display: block;
        margin-top: 10px;
        margin-left: 20px;
        /* background-color: aliceblue; */
    }

    #education em{
        grid-area: quote;
        display: block;
        font-size: 1rem;
        margin: 10px 20px;
        text-align: center;
    }

    /*bhavans card*/
    #education #bhavans-section{
        grid-area: bhavans;
        padding: 20px;
    }

    #education #bhavans-section:hover{
        padding: 10px;
        transition: 2s;
    }

    #education #bhavans-card{
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #education #bhavans-card h2{
        margin: 10px 10px;
    }

    #education #bhavans-card p{
        padding: 0 10px 10px 10px;
    }

    #education #bhavans-card img{
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    /*awh card*/
    #education #awh-section{
        grid-area: awh;
        padding: 20px;
    }

    #education #awh-card{
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #education #awh-card h2{
        margin: 10px 10px;
    }

    #education #awh-card p{
        padding: 0 10px 10px 10px;
    }

    #education #awh-card img{
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    #education #awh-section:hover{
        padding: 10px;
        transition: 2s;
    }

    /*other qualifications heading*/
    #education h2{
        grid-area: other;
        margin: 10px 20px;
    }
    
    /*pdsa card*/
    #education #PDSA-section{
        grid-area: PDSA;
        padding: 20px;
    }

    #education #PDSA-card{
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #education #PDSA-card p{
        padding: 0 10px 10px 10px;
    }

    #education #PDSA-card img{
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    #education #PDSA-section:hover{
        padding: 10px;
        transition: 2s;
    }
    
    /*=================my image=======================*/
    #my-image{
        grid-area: img;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #my-image img{
        width: 80%;
        height: auto;
        margin: 30px 0px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #my-image img:hover{
        width: 82%;
        transition: 2s;
    }

    /*==================about==========================*/
    #about{
        grid-area: about;
        /* background-color: aqua; */
    }

    #about h1{
        font-size: 2.5rem;
        display: block;
        margin-top: 10px;
        margin-left: 20px;
        /* background-color: aliceblue; */
    }

    #about a{
        font-family: 'Poppins', sans-serif;

    }

    #about p{
        margin: 20px 20px;
        font-size: 1rem;
    }
    /*===================skills============================*/
    #skills{
        display: grid;
        grid-area: skills;
        background-color:  #00a8e8;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "header header"
            "html css"
            "python c"
            "git github";    
    }
    /*heading*/
    #skills h1{
        grid-area: header;
        font-size: 2.5rem;
        display: block;
        margin-top: 20px;
        margin-left: 20px;
        /* margin-bottom: 40px; */
        /* background-color: aliceblue; */
    }

    #skills img{
        margin: 50px 20px;
    }

    /*html block*/
    #skills #html5{
        grid-area: html;
        /* background-color: antiquewhite; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*css block*/
    #skills #css3{
        grid-area: css;
        /* background-color:aquamarine; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*python block*/
    #skills #python3{
        grid-area: python;
        /* background-color:yellow; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*c block*/    
    #skills #clang{
        grid-area: c;
        /* background-color:yellow; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*git block*/    
    #skills #git-vcs{
        grid-area: git;
        /* background-color:yellowgreen; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*github block*/    
    #skills #github{
        grid-area: github;
        /* background-color: white; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /*skill images*/
    #skills #html5-logo{
        width: 85px;
        height: auto;
    }
    
    #skills #css3-logo{
        width: 0px;
        height: auto;
    }

    #skills #python3-logo{
        width: 60px;
        height: auto;
    }

    #skills #css3-logo{
        width: 60px;
        height: auto;
    }

    #skills #clang-logo{
        width: 60px;
        height: auto;
    }

    #skills #git-logo{
        width: 60px;
        height: auto;
        margin-bottom: 80px;
    }

    #skills #github-logo{
        width: 60px;
        height: auto;
        margin-bottom: 80px;

    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
    *{
        display: none;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    *{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
   
    *{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    *{
        display: none;
    }
}