/* my website does not support below screen width 250px  */
@media only screen and (max-width: 250px) { 
    *{
        display: none;
    }
} 


/* Extra small devices (phones, 600px and down) */
/*==============common to this media queiry=====================*/
#nav-gap{
    height: 8.8vh;
    min-height: 60px;
    max-height: 100px;
    background-color: #fff6e1;
}


@media screen and (min-width: 900px) {
    main{
        position: absolute;
        width: 80%;
        right: 0;
    }

    #nav-gap{
        background-color: white;
        display: none;
    }
}


/*==================nav bar ======================*/
@media screen and (min-width: 250px) and (max-width: 900px){
    nav{
        background-color: #dc9d00;
        display: flex;
        color: #0d0d0d;
        letter-spacing: 3px;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        min-height: 60px;
        height: 9vh;
        max-height: 100px;
        z-index: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    nav #nav-link-d{
        display: none;
    }
    
    nav .logo,nav i{
        font-size: 1.5rem;
    }
    
    nav a{
        color: #0d0d0d;
    }
    
    nav ul{
        position: fixed;
        bottom: -50vh;
        transform: translateY(100%);
        min-height: fit-content;

        /* transition: transform 0.5 ease-in; */
    }
    .nav-active{
        background-color: #dc9d00;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 30vh;
        min-height: fit-content;
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1.5rem;
        transform: translateY(0%);
    }
}

@media screen and (max-width: 330px) {
    nav .logo,nav i{
        font-size: 1.2rem;
    }
    
    .nav-active{
        height: 70vh;
        font-size: 1.2rem;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
}
@media screen and (min-width: 900px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height: 100vh;
        background-color: #dc9d00;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        color: #0d0d0d;
        letter-spacing: 2px;
    }

    nav ul{
        width: 100%;
        height: 85%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    nav li a{
        color: #0d0d0d;
        font-size: 1rem;
    }

    nav li a:hover{
        font-size: 1.4rem;
        background-color: #fff6e1;
        color: black;
        transition: all 0.5s;
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    nav .logo{
        font-size: 1.5rem;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav #togglenav{
        display: none;
    }
}

@media screen and (min-width: 1400px){
    nav li a{
        font-size: 1.5rem;
    }

    nav li a:hover{
        font-size: 1.8rem;
    }

    nav .logo{
        font-size: 2rem;
    }
}


/*===================skills============================*/
#skills{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    background-image: linear-gradient(#fff6e1, white);
    
}

#skills h1{
    font-size: 2.5rem;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}

#skill-head{
    grid-column: 1 / -1;
}

#skill-body{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto auto auto;
    padding: 10px; 
    margin: 20px 0;
}

.card-holder{
    background-color: transparent;

}

#skills #html5, #skills #css3, #skills #vscode, #skills #netlify, #skills #python3, #skills #javascript,#skills #sql,#skills #clang,#skills #git-vcs,#skills #github{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*html block*/
#skills #html5{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
/*css block*/
#skills #css3{
    grid-column: 4 / -1;
    grid-row: 1 / 2;
}


/*python block*/
#skills #python3{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
/*javascript*/
#skills #javascript{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
/*sql*/
#skills #sql{
    grid-column: 4 / -1;
    grid-row: 2 / 3;
}
/*c block*/    
#skills #clang{
    grid-column: 4 / -1;
    grid-row: 3 / 4;
}

/*vscode block*/
#skills #vscode{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

/*netlify*/
#skills #netlify{
    grid-column: 4 / -1;
    grid-row: 4 / 5;
}
/*git block*/    
#skills #git-vcs{
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}
/*github block*/    
#skills #github{
    grid-column: 4 / -1;
    grid-row: 5 / 6;
}

/*skill images*/
#skills #html5-logo{
    width: 60px;
    height: auto;
}

#skills #css3-logo{
    width: 43px;
    height: auto;
}

#skills #python3-logo{
    width: 57px;
    height: auto;
}
#skills #javascript-logo{
    width: 55px;
    height: auto;
}
#skills #sql-logo{
    width: 55px;
    height: auto;
}

#skills #clang-logo{
    width: 54px;
    height: auto;
}

#skills #vscode-logo{
    width: 60px;
    height: auto;
}
#skills #netlify-logo{
    width: 60px;
    height: auto;
}

#skills #git-logo{
    width: 60px;
    height: auto;
    /* margin-bottom: 80px; */
}

#skills #github-logo{
    width: 58px;
    height: auto;
    /* margin-bottom: 80px; */

}

.card{
    width: 15em;
    max-width: 170px;
    height: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
@media screen and (max-width:330px){
    #skills h1{
        font-size: 2rem;
    }
    
    /*skill images*/
    #skills #html5-logo{
        width: 55px;
    }

    #skills #css3-logo{
        width: 38px;
    }

    #skills #python3-logo{
        width: 52px;
    }
    #skills #javascript-logo{
        width: 50px;
    }
    #skills #sql-logo{
        width: 50px;
    }

    #skills #clang-logo{
        width: 49px;
    }

    #skills #vscode-logo{
        width: 55px;
    }
    #skills #netlify-logo{
        width: 55px;
    }

    #skills #git-logo{
        width: 55px;
    }

    #skills #github-logo{
        width: 53px;
    }

    .card h2{
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 992px){
    .card{
        width: 100%;
    }

    #skills{
        background-image: linear-gradient(#fff6e1, white);

        min-height: 100vh;

    }

    #skill-body{
        grid-template-columns: repeat(4 , 1fr);
        grid-template-rows: auto auto auto;
    }

    #skills #skill-head{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    /*html block*/
    #skills #html5{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    /*css block*/
    #skills #css3{
        grid-column: 2/ 3;
        grid-row: 1 / 2;
    }

    /*python block*/
    #skills #python3{

        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    /*javascript*/
    #skills #javascript{
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
    /*sql*/
    #skills #sql{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    /*c block*/    
    #skills #clang{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    /*git block*/    
    #skills #git-vcs{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    /*github block*/    
    #skills #github{
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
    /*vscode block*/    
    #skills #vscode{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    /*netlify block*/    
    #skills #netlify{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    /*skill images*/
    #skills #html5-logo{
        width: 6em;
        height: auto;
    }

    #skills #css3-logo{
        width: 4.2em;
        height: auto;
    }


    #skills #python3-logo{
        width: 5.3em;
        height: auto;
    }
    #skills #javascript-logo{
        width: 5.5em;
        height: auto;
    }
    #skills #sql-logo{
        width: 5.5em;
        height: auto;
    }

    #skills #clang-logo{
        width: 5.4em;
        height: auto;
    }

    #skills #git-logo{
        width: 6em;
        height: auto;
        /* margin-bottom: 80px; */
    }

    #skills #github-logo{
        width: 6em;
        height: auto;
        /* margin-bottom: 80px; */

    }
    #skills #vscode-logo{
        width: 6em;
        height: auto;
        /* margin-bottom: 80px; */

    }
    #skills #netlify-logo{
        width: 6em;
        height: auto;
        /* margin-bottom: 80px; */

    }
}
@media screen and (min-width: 1400px){
    #skills h1{
        font-size: 3rem;
    }
    /*skill images*/
    #skills #html5-logo{
        width: 7em;
    }

    #skills #css3-logo{
        width: 5em;
    }

    #skills #python3-logo{
        width: 6.3em;
    }

    #skills #javascript-logo{
        width: 7em;
    }

    #skills #sql-logo{
        width: 7em;
    }

    #skills #clang-logo{
        width: 6.4em;
    }

    #skills #git-logo{
        width: 7em;
    }

    #skills #github-logo{
        width: 7em;
    }

    #skills #skill-body .skill-block h2{
        font-size: 2rem;
    }
}


/*=================footer======================*/
footer{
    background-color: #644700;
    color: rgb(230, 220, 220);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
}

footer .thanks{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

footer .quick-links{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

footer .contact-info{
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    width: 100%;
}

footer #social-links{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    width: 100%;
}

footer ul{    
    margin: 20px;
    font-size: 1rem;
}
footer ul li{
    list-style: none;
}

footer h2{
    margin: 20px;
    font-size: 2.5rem;
}

footer p{
    margin: 20px;
    font-size: 1rem;
}

footer hr{
    grid-column: 1 / -1;
    grid-row: 4 / 5;    
}

footer #mes{
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    font-size: 1rem;
    text-align: center;
    margin: 5px;
}
footer a{
    color: rgb(230, 220, 220);

}

footer .quick-nav-links a{
    color: rgb(230, 220, 220);
    font-size: 1.5rem;
}

@media screen and (max-width:330px){
    footer #social-links{
        font-size: 2rem;
    }
        
    footer h2{
        font-size: 2rem;
    }

    footer ul li a{
        font-size: 1.2rem;
    }
    
    footer #mes, footer p{
        font-size: 0.8rem;
    }

}

@media screen and (min-width: 900px){

    footer .quick-links{
        display: none;
    }
}

@media screen and (min-width: 1000px){
    footer{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);   
    }
    footer .thanks{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        text-align: center;
    }

    footer .quick-links{
        display: none;
    }
   
    footer .contact-info{
        grid-column: 4 / 7;
        grid-row: 1 / 2;
        text-align: center;
    }
    footer hr{
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }
    footer #mes{
        grid-column: 1 / -1;
        grid-row: 3 / 4;   
        text-align: center; 
    }

    @media screen and (min-width: 1400px){
        footer h2{
            font-size: 3rem;
        }

        footer p{
            font-size: 1.5rem;
        }
        footer #mes{
            font-size: 1.2rem;
        }
    }
}

